<html>
  <head>
    <title>I have never told anyone...</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="application.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="ngApp.js"></script>
  </head>
  <body ng-app="never" ng-controller="mainCtrl">
    <ui-view></ui-view>
    <div ng-repeat="response in responses">
      {{response.content}} on {{response.date}}
    </div>

    <script type="text/ng-template" id="/home.html">
      <div class="row">
        <div class="col-lg-3 col-lg-offset-3">
          <h2>I have never told anyone that</h2>
        </div>
        <div class="col-lg-3">
          <form ng-submit="addResponse()">
            <div class="input-group">
              <input type="text" ng-model="content" class="form-control" placeholder="Your response...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Add</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </script>
  </body>
</html>