<html>
  <head>
    <title>Before I Die...</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="ngApp.js"></script>
  </head>
  <body ng-app="before" ng-controller="mainCtrl">
    <form ng-submit="addResponse()">
      <input type="text" ng-model="content"></input>
      <button type="submit">Add</button>
    </form>
    <div ng-repeat="response in responses">
      {{response.content}} on {{response.date}}
    </div>
  </body>
</html>